


<mat-card>
  @if(isAdmin) {
  <mat-card-header>
    <button class="create-button-list-header" mat-raised-button (click)="navigateToAdd()">
      Add New
    </button> </mat-card-header>}

  <mat-card-content>
    <table class="user-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th>National Code</th>
          <th>Phone Number</th>
          <th>User Name</th>
          <th>Password</th>
          @if(isAdmin) {
          <th>Actions</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(item of users; track item.username; let i = $index) {
        <tr>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.role | role }}</td>
          <td>{{ item.nationalCode }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.password }}</td>

          @if(isAdmin && item.id){
          <td>
            <button mat-raised-button color="accent" class="save-btn" (click)="navigateToEdit(item.id)">
              Edit
            </button>
            <button mat-raised-button color="warn" class="delete-btn" (click)="deleteUser(item.id)">
              Delete
            </button>
          </td>
          }
        </tr>
        } @empty {
        <mat-card-content>
          <span class="no-data">There is no data available!</span>
        </mat-card-content>
        }
      </tbody>
    </table>
  </mat-card-content>
</mat-card>