mat-card {
    display: block;
    padding: 16px;
    margin: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    // margin-bottom: 0px;
    margin-top: 60px;
    top: 10%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
  
    &:hover {
      transform: translateY(-2px);
      background-color: #f1f1f1;
    }
  }
  
  .user-detail {
    font-size: 14px;
    color: #333;
    margin-right: 16px;
    display: inline-block;
    text-align: left;
  }
  
  .no-data {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 16px;
  }
  
  button {
    margin-left: 16px;
    font-size: 14px;
    background-color: #3f51b5;
    color: #fff;
  
    &:hover {
      background-color: #303f9f;
    }
  }
  .create-button-list-header {
    margin-top: -10px;
  }
  .mdc-card{
    margin: 2%;
}
.mdc-button{
    margin: 2px;
}