


<mat-card>
    @if(isAdmin) {
        <mat-card-header>
            <button class="create-button-list-header" mat-raised-button color="primary" (click)="navigateToAdd()">Add New</button>
        </mat-card-header>
    }

    
    @for(item of users; track item.username) {
        <mat-card-content>
    <div  class="user-list-item">
        <span class="user-detail">NationalCode: {{item.username}} </span>
        <span class="user-detail">First Name: {{item.password}} </span>
        <span class="user-detail">Last Name: {{item.role}} </span>
        <button [routerLink]="'/user/edit' + item.username">Edit</button>
    </div>
</mat-card-content>
    } @empty {
        <mat-card-content>
        <span class="no-data"> there is no data!</span>
        </mat-card-content>
    }
</mat-card>

<router-outlet />