
<mat-card>
  <mat-card-header>
    <button
      class="create-button-list-header"
      mat-raised-button
      (click)="navigateToAdd()"
    >
      Add New
    </button>
  </mat-card-header>
  <mat-card-content>
    <table border="1" class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Weight</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(item of products; track item.id; let i = $index) {
        <tr>
          @if(editingStates[i]?.editingIndex !== i){
          <ng-container>
            <td>{{ item.name }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.weight }}</td>
            <td>
              <button
                mat-raised-button
                color="accent"
                class="save-btn"
                (click)="navigateToEdit(item.id)"
              >
                Edit
              </button>
            </td>
          </ng-container>
          } 
          
        </tr>
        } @empty{
        <mat-card-content>
          <span class="no-data">There is no data available!</span>
        </mat-card-content>
        }
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
