<mat-card class="add-product-container">
  <mat-card-header>
    <mat-card-title class="add-product-title">Add Product</mat-card-title>
  </mat-card-header>
  <form [formGroup]="formGroup">
    <mat-card-content>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        @if(formGroup.get('name')?.hasError('required')){
        <mat-error> Name is required! </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" required />
        @if(formGroup.get('code')?.hasError('required')){
        <mat-error> Code is required! </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Weight</mat-label>
        <input matInput formControlName="weight" required />
        @if(formGroup.get('weight')?.hasError('required')){
        <mat-error> Weight is required! </mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        class="submit-btn"
        type="submit"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </mat-card-content>
  </form>
</mat-card>
