/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #cdd5d5;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 10000 !important;
}

.success-snackbar {
  background-color: #124e12;
  color: #cdcdcd;
  .mat-icon-button:hover {
    color: #124e12;
  }
}

.error-snackbar {
  background-color: #591010;
  color: #cdcdcd;
  .mat-icon-button:hover {
    color: #591010;
  }
}
