/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.error-snackbar {
    background-color: #900909;
    color: white;
    font-weight: bold;
}
body{
    background-color: #cdd5d5;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 10000 !important;
}