<!-- <mat-toolbar class="navbar">

    <span class="spacer"></span>
    @if(isLoggedIn) {
    <span routerLink="users">User List</span>
    }
    @if(isLoggedIn && isAdmin) {
    <span routerLink="users/add" >add user</span>
    }
    <button mat-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>

<list></list> -->
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
    <li><a routerLink="/users/add" routerLinkActive="active">Add User</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  </ul>
</nav>

<router-outlet />
